# To use:
# Run "docker-compose build" to rebuild the app container.
# Run "docker-compose run -u $(id -u ${USER}):$(id -g ${USER}) --rm php84 composer install" to install dependencies.
# Run "docker-compose run  -u $(id -u ${USER}):$(id -g ${USER})--rm php84 vendor/bin/pest" to run the test script on 8.4.
# Run "docker-compose down -v" to fully wipe everything and start over.
# Run "docker-compose run -u $(id -u ${USER}):$(id -g ${USER}) --rm php84 bash" to log into the container to run tests selectively.
services:
    php84:
        build: ./docker/php/84
        volumes:
            - ~/.composer:/.composer
            - .:/usr/src/myapp
            - ./docker/php/84/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
            - ./docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
            - ./docker/php/conf.d/memory.ini:/usr/local/etc/php/conf.d/memory.ini
        environment:
            XDEBUG_MODE: "develop,debug"
            XDEBUG_CONFIG: "client_host=${HOST_IP:-host.docker.internal} idekey=${IDE_KEY:-PHPSTORM} client_port=${XDEBUG_PORT:-9003} discover_client_host=1 start_with_request=1"
            DB_CONNECTION: ${DB_CONNECTION:-sqlite}
            DB_HOST: ${DB_HOST:-}
            DB_PORT: ${DB_PORT:-}
            DB_DATABASE: ${DB_DATABASE:-}
            DB_USERNAME: ${DB_USERNAME:-}
            DB_PASSWORD: ${DB_PASSWORD:-}
            WARDEN_PRIMARY_KEY_TYPE: ${WARDEN_PRIMARY_KEY_TYPE:-id}
            WARDEN_ACTOR_MORPH_TYPE: ${WARDEN_ACTOR_MORPH_TYPE:-morph}
            WARDEN_BOUNDARY_MORPH_TYPE: ${WARDEN_BOUNDARY_MORPH_TYPE:-morph}
            WARDEN_SUBJECT_MORPH_TYPE: ${WARDEN_SUBJECT_MORPH_TYPE:-morph}
    profile:
        build: ./docker/php/84
        volumes:
            - .:/usr/src/myapp
            - ./docker/php/84/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
            - ./docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
            - ./docker/php/conf.d/memory.ini:/usr/local/etc/php/conf.d/memory.ini
        environment:
            XDEBUG_MODE: "develop,profile"
            XDEBUG_CONFIG: "client_host=${HOST_IP:-host.docker.internal} idekey=${IDE_KEY:-PHPSTORM} client_port=${XDEBUG_PORT:-9003} discover_client_host=1 start_with_request=1"

    mysql:
        image: mysql:9
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: warden_test
        ports:
            - "3307:3306"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 3

    postgres:
        image: postgres:18
        environment:
            POSTGRES_PASSWORD: password
            POSTGRES_DB: warden_test
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready"]
            interval: 10s
            timeout: 5s
            retries: 3
