---
name: Quality Assurance
on:
    push:
        branches: ['main']
    pull_request: ~

jobs:
    tests:
        name: Tests on ${{ matrix.php }} (PK: ${{ matrix.primary-key-type }}) ${{ matrix.composer-flags }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.4']
                composer-flags: ['']
                primary-key-type: ['id', 'ulid', 'uuid']
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: pcov
                  tools: composer:v2
            - run: composer install --no-progress ${{ matrix.composer-flags }}
            - run: vendor/bin/pest --coverage --min=100
              env:
                  WARDEN_PRIMARY_KEY_TYPE: ${{ matrix.primary-key-type }}

    phpstan:
        name: PHPStan on ${{ matrix.php }} ${{ matrix.composer-flags }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.4']
                composer-flags: ['']
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
            - run: composer install --no-progress ${{ matrix.composer-flags }}
            - run: vendor/bin/phpstan

    php-cs-fixer:
        name: Code Style on ${{ matrix.php }} ${{ matrix.composer-flags }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.4']
                composer-flags: ['']
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
            - run: composer install --no-progress ${{ matrix.composer-flags }}
            - run: vendor/bin/php-cs-fixer check --diff

    rector:
        name: Rector on ${{ matrix.php }} ${{ matrix.composer-flags }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.4']
                composer-flags: ['']
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
            - run: composer install --no-progress ${{ matrix.composer-flags }}
            - run: vendor/bin/rector --dry-run
